:root {
  --primary-bg: #7adeae;
  --primary-font: #3b3b3b;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-font);
}

.header-style {
  background-color: var(--primary-bg);
  text-align: center;
  padding: 2rem;
  margin-top: 0;
}

.button {
  background-color: var(--primary-bg);
  margin-bottom: 2rem;
}

.table-style{
  margin: 1rem;
}